{% extends "base.html" %}


{% block content %}
<h1>Login</h1>
<form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="label">{{ form.username.label_tag }}:</div>
    {{ form.username.errors }}
    <div class="input">{{ form.username }}</div>
    <div class="label">{{ form.password.label_tag }}:</div>
    {{ form.password.errors }}
    <div class="input">{{ form.password }}</div>
    <br />
    <input type="submit" value="Login" />
</form>
    {% include "registration/includes/why_sign_up.html" %}
{% endblock %}
