{% extends "base.html" %}


{% block content %}
<h1>Change your password</h1>
<form action="" method="post">{% csrf_token %}
    <div class="label">{{ form.old_password.label_tag }}:</div>
    {{ form.old_password.errors }}
    <div class="input">{{ form.old_password }}</div>
    <div class="label">{{ form.new_password1.label_tag }}:</div>
    {{ form.new_password1.errors }}
    <div class="input">{{ form.new_password1 }}</div>
    <div class="label">{{ form.new_password2.label_tag }}:</div>
    {{ form.new_password2.errors }}
    <div class="input">{{ form.new_password2 }}</div>
    <br />
    <input type="submit" value="change password" />
 </form>
{% endblock %}
