{% extends "base.html" %}


{% block content %}
<h1>Sign up !</h1>
<form action="" method="post">{% csrf_token %}
    <div class="label">{{ form.username.label_tag }}:</div>
    {{ form.username.errors }}
    <div class="input">{{ form.username }}</div>
    <p>Other users will see that name beside the adventures you create</p>
    <div class="label">{{ form.email.label_tag }}:</div>
    {{ form.email.errors }}
    <div class="input">{{ form.email }}</div>
    <p>We won't share you email address with anyone.</p>
    <div class="label">{{ form.password1.label_tag }}:</div>
    {{ form.password1.errors }}
    <div class="input">{{ form.password1 }}</div>
    <div class="label">{{ form.password2.label_tag }}:</div>
    {{ form.password2.errors }}
    <div class="input">{{ form.password2 }}</div>
    <br />
    <input type="submit" value="Sign me up!" />
</form>

{% include "registration/includes/why_sign_up.html" %} 

{% endblock %}
