html {
    color:#222222;
    background-color:#ffffff;
    font-family:sans-serif;
}

a {
    color:#0000ff;
}

p, #main ul {
    max-width:50em;
    padding:0.3em 0;
    line-height:1.5em;
}

.pullleft {
    float:left;
}
.pullright {
    float:right;
}

hr.clear {
    height:0;
    border-width:0;
    clear:both;
}

/*
 * Forms
 */

form {
    margin:0em 2em 2em 0;
}

.field {
    clear:both;
    margin:1em 0;
}

.label {
    font-weight:bold;
}
.input {

}

input[type=submit],
input[type=button] {
    font-size:1.1em;
}

.forward {
    padding:0.5em;
    padding-right:30px;
    font-size:1.1em;
    background: url(icons/22x22/forward.png) no-repeat right center;
}

.back {
    padding:0.5em;
    padding-left:38px;
    font-size:1.1em;
    background: url(icons/22x22/back.png) no-repeat 8px center;
}

.add {
    padding:0.5em;
    padding-left:38px;
    font-size:1.1em;
    color:#008800;
    background: url(icons/22x22/add.png) no-repeat 8px center;
}

.twitter {
    padding-left:20px;
    background: url(icons/16x16/twitter.png) no-repeat left center;
}
.mail {
    padding-left:20px;
    background: url(icons/16x16/mail.png) no-repeat left center;
}
.github {
    padding-left:20px;
    background: url(icons/16x16/github.png) no-repeat left center;
}

.smalledit {
    padding:0.2em;
    padding-left:28px;
    color:#888800;
    background: url(icons/16x16/edit.png) no-repeat 6px center;
}

.edit {
    padding:0.5em;
    padding-left:38px;
    font-size:1.1em;
    color:#888800;
    background: url(icons/22x22/edit.png) no-repeat 8px center;
}

.delete {
    padding:0.5em;
    padding-left:38px;
    font-size:1.1em;
    color:#ff0000;
    background: url(icons/22x22/delete.png) no-repeat 8px center;
}

input[type=text], input[type=password] {
    width:30em;
}

textarea {
    width:50em;
    height:20em;
}

.preview {
    border:solid 1px #d0d0d0;
    padding:1em;
    width:50em;
}

.editor {
    clear:both;
    width:71em;
    margin-right:2em;
}
.editor .input {
    width:51em;
    min-height:20em;
    float:left;
}
.editor .locations {
    max-width:20em;
    max-height:25em;
    overflow:auto;
}
.editor .locations a {
    cursor:pointer;
}
.editor .help_text {
    clear:both;
}

.help_text {
    color:#888888;
}
.errorlist {
    color:#ff0000;
}

.tooltip {
    border:solid 1px #aaaa88;
    background-color:#ffffdd;
    padding:0.5em;
}

.broken {
    text-decoration:line-through;
}

.star-container {
    display: none;
}

.pullleft.graphwrapper,
.pullright.graphwrapper {
    margin:1em;
}

.nohelp .help_text {
    display:none;
}

.graph {
    margin:1em 0;
    max-width:50em;
    max-height:40em;
    text-align:center;
    overflow:auto;
}

.editor-graph {
    margin:2em 0 2em 0;
}

.winnode,
.loosenode,
.startnode,
.looseend {
    padding:0 0.25em;
    border:solid 1px #000000;
}
.startnode {
    background-color:#ddddff;
    color:#0000ff;
}
.winnode {
    background-color:#ddffdd;
    color:#008800;
}
.loosenode {
    background-color:#ffffdd;
    color:#444400;
}
.looseend {
    background-color:#ffffdd;
    color:#ff0000;
}

table th[scope=row] {
    text-align:left;
}
table.object-list thead {
    background-color:#e0e0e0;
    border-bottom:solid 1px #aaaaaa;
}
table.object-list th,
table.object-list td {
    padding:0.5em 1em;
}

#header h1 {
    font-size:3em;
    padding:0.2em;
}
#header h1 a {
    color:inherit;
    text-decoration:none;
}

#header nav {
    padding:0 1em;
    display:block;
    background-color:#000000;
    color:#aaaaaa;
}
#header nav a {
    color:#ffffff;
    text-decoration:none;
}

#header nav ul {
    float:left;
}
#header nav ul li {
    float:left;
}
#header nav ul li a {
    display:block;
    padding:0.5em;
}
#header nav ul li a:hover {
    background-color:#ffffff;
    color:#000000;
}

#header nav #usernav {
    float:right;
}
#usernav .inline {
    padding:0.5em;
}
#usernav .inline a {
    display:inline;
    padding:0;
}

#main {
    padding:2em;
}

#main h1 {
    font-size:1.5em;
    padding:0.5em 0;
}

#main h2 {
    font-size: 1.2em;
    margin-top:0.3em;
    padding: 0.3em 0;
}

#messages {
    padding:0;
    margin:0;
    list-style-type:none;
}
#messages li {
    padding:1em 5.5em;
    background-repeat:no-repeat;
    background-position:2em center;
}
#messages li.info {
    background-color:#ccccff;
    background-image: url(icons/32x32/info.png);
}
#messages li.error {
    background-color:#ff9999;
    background-image: url(icons/32x32/error.png);
}
#messages li.success {
    background-color:#aaddaa;
    background-image: url(icons/32x32/success.png);
}
#messages li.warning {
    background-color:#ffff88;
    background-image: url(icons/32x32/warning.png);
}

#toolbox {
    float:right;
    margin:0 1em;
}

.about {
    padding:1em 0;
    clear:both;
}
.about h2 {
    margin-bottom:0.5em;
}
.about table th,
.about table td {
    padding:0.3em;
}

.ponybadge {
    margin:0 0 1em 1em;
}
