html {
    color:#222222;
    background-color:#ffffff;
    font-family:sans-serif;
}

a {
    text-decoration:none;
}

p {
    padding:0.5em 0;
}

/*
 * Forms
 */

.field {
    clear:both;
    margin:1em 0;
}

.label {
    font-weight:bold;
}
.input {
    
}

input[type=text], input[type=password] {
    width:30em;
}

textarea {
    width:50em;
    height:20em;
}

.preview {
    border:solid 1px #d0d0d0;
    padding:1em;
    width:50em;
}

.editor {
    clear:both;
}
.editor .input {
    width:55em;
    min-height:20em;
    float:left;
}
.editor .locations {
    max-width:20em;
    max-height:25em;
    overflow:auto;
}
.editor .locations a {
    cursor:pointer;
}
.editor .help_text {
    clear:both;
}

.help_text {
    color:#888888;
}
.errorlist {
    color:#ff0000;
}

.tooltip {
    border:solid 1px #aaaa88;
    background-color:#ffffdd;
    padding:0.5em;
}

.broken {
    text-decoration:line-through;
}

#header h1 {
    font-size:3em;
    padding:0.2em;
}

#header nav {
    padding:0 1em;
    display:block;
    background-color:#000000;
    color:#aaaaaa;
}
#header nav a {
    color:#ffffff;
}

#header nav ul {
    float:left;
}
#header nav ul li {
    float:left;
}
#header nav ul li a {
    display:block;
    padding:0.5em;
}
#header nav ul li a:hover {
    background-color:#ffffff;
    color:#000000;
}

#header nav p {
    padding:0.5em;
    float:right;
}

#main {
    padding:2em;
}

#main h1 {
    font-size:1.5em;
    padding:0.5em 0;
}
