{% extends "base.html" %}
{% load shorturl %}


{% block extra_head %}
    {% revcanonical object %}
{% endblock %}


{% block content %}
<h1>{{ object }}</h1>
<p>{{ object.description }}</p>
<p>
    {% if object.author == user %}
    <a href="{% url adventure-edit object.id %}" class="edit">Edit Adventure</a>
    {% endif %}
    {% if resumeable_at_id %}
        <div><strong>You have played this adventure before.</strong></div>
        <br />
        <a href="{% url adventure-location object.id resumeable_at_id %}" class="forward">
            Continue playing
        </a>
        <a href="{% url adventure-start object.id %}" class="forward">Restart Adventure</a>
    {% else %}
        <a href="{% url adventure-start object.id %}" class="forward">Start Adventure</a>
    {% endif %}
</p>
{% if object.published %}
<p>
    Short URL: <a href="{% shorturl object %}">{% shorturl object %}</a>
</p>
{% endif %}
{% endblock %}
