{% extends "base.html" %}
{% load rating_tags %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/star-rating/jquery.MetaData.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/star-rating/jquery.rating.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".star-container").show();
    $(".star-container").tooltip();
});


</script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/star-rating/jquery.rating.css"></link>
{% endblock %}

{% block content %}

{% if only_own_adventures %}
<h1>The Adventures you created</h1>
{% else %}{% if author_list %}
<h1>Browse all Adventures from our user {{ author.username }} !</h1>
{% else %}
<h1>Browse all the Adventures our users created for you to play !</h1>
{% endif %}{% endif %}

<table cellspacing="0" cellpadding="0" class="object-list">
    <thead>
        <tr>
            <th scope="col">Adventure</th>
            <th scope="col">Author</th>
            <th scope="col">Language</th>
            <th scope="col">Rating</th>
            {% if show_status %}
            <th scope="col">Status</th>
            {% endif %}
            {% if only_own_adventures %}
            <th scope="col">Published</th>
            <th scope="col">Edit</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for adventure in adventures %}
        <tr>
            <td>
                <a href="{% url adventure-detail adventure.id %}">{{ adventure }}</a>
            </td>
            <td>
                <a href="{% url adventure-list-author adventure.author.username %}">{{ adventure.author.username }}</a>
            </td>
            <td>
                <a href="{% url adventure-list-language adventure.language %}">{{ adventure.get_language_display }}</a>
            </td>
            <td>
                {% if adventure.avg_rating %}
                    <div title="Rated with {{ adventure.avg_rating }} Stars on average by {{ adventure.ratings }} users" class="star-container">
                        {% display_rating adventure %}
                    </div>
                {% else %}
                    <div>
                        {% display_rating adventure %}
                    </div>
                {% endif %}
            </td>
            {% if show_status %}
            <td>{{ adventure.status }}</td>
            {% endif %}

            {% if only_own_adventures %}
            <td>{{ adventure.published|yesno}}</td>
            <td>
                <a href="{% url adventure-edit adventure.id %}" class="smalledit">edit</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
