{% extends "base.html" %}

{% block content %}
<h1>Browser all the Adventures our users created for you to play !</h1>
<table cellpadding="0">
<tr>
    <th>Adventure</th>
    <th>Author</th>
    <th>Language</th>
    <th>Rating</th>
    {% if user.is_authenicated %}
    {# <th>Completed</th> TODO #}
    {% endif %}
</tr>
{% for object in object_list %}
<tr>
    <td><a href="{% url adventure-detail object.id %}">{{ object }}</a></td>
    <td>{{ object.author.username }}</td>
    <td>{{ object.get_language_display }}</td>
    <td>x</td>
</tr>
{% endfor %}
</table>
{% endblock %}"
