{% extends "base.html" %}
{% load rating_tags %}


{% block content %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/star-rating/jquery.MetaData.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/star-rating/jquery.rating.js"></script>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/star-rating/jquery.rating.css"></link>
{% endblock %}

{% if only_own_adventures %}
<h1>The Adventures you created</h1>
{% else %}
<h1>Browse all the Adventures our users created for you to play !</h1>
{% endif %}

<table cellspacing="0" cellpadding="0" class="object-list">
    <thead>
        <tr>
            <th scope="col">Adventure</th>
            <th scope="col">Author</th>
            <th scope="col">Language</th>
            <th scope="col">Rating</th>
            {% if show_status %}
            <th scope="col">Status</th>
            {% endif %}
            {% if only_own_adventures %}
            <th scope="col">Published</th>
            <th scope="col">Edit</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for adventure in adventures %}
        <tr>
            <td>
                <a href="{% url adventure-detail adventure.id %}">{{ adventure }}</a>
            </td>
            <td>{{ adventure.author.username }}</td>
            <td>{{ adventure.get_language_display }}</td>
            <td>{% display_rating adventure %}</td>
            {% if show_status %}
            <td>{{ adventure.status }}</td>
            {% endif %}

            {% if only_own_adventures %}
            <td>{{ adventure.published|yesno}}</td>
            <td>
                <a href="{% url adventure-edit adventure.id %}">edit</a>
            </td>
            {% endif %}


        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
