{% extends "adventure/base.html" %}
{% load adventure_tags %}


{% block content %}
    <h1>Create new adventure</h1>

    <div class="pullleft">

    {% if not create %}
    <ul>
        {% if object.last_location %}
        <li><a href="{% url location-edit object.pk object.last_location.pk %}">Edit locations</a></li>
        {% endif %}
        <li><a href="{% url location-create object.pk %}">Create new locations</a></li>
    </ul>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <p>
        <input type="submit" value="save" />
        </p>
    </form>
    
    </div>

    {% if object %}{% adventure_graph object "pullleft" %}{% endif %}
{% endblock %}
