{% extends "base.html" %}

{% if user.is_authenticated %}
{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script src="{{ STATIC_URL }}js/star-rating/jquery.MetaData.js"></script> 
<script src="{{ STATIC_URL }}js/star-rating/jquery.rating.js"></script>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/star-rating/jquery.rating.css"></link>
{% endblock %}
{% endif %}

{% block content %}

<h1 style="float: left">{{ adventure }}</h1>
{% if user.is_authenticated %}
<style type="test/css">
div.rating-cancel {
    display: none !Important;
}
</style>
<div style="float: right">
    Rate this Adventure: <br />
    <form action="{% url adventure-rating adventure.id %}" method="POST" id="rating">
        <input name="rating" type="radio" class="star" />
        <input name="rating" type="radio" class="star" />
        <input name="rating" type="radio" class="star" />
        <input name="rating" type="radio" class="star" />
        <input name="rating" type="radio" class="star" />
    </form>
</div>
{% endif %}
<hr style="clear:both">

{% if extra_content %}
{{ extra_content }}
{% endif %}

<h2>{{ location }}</h2>
<p>{{ location.description }}</p>
{% if location.type != location.TYPE_NORMAL %}
<hr>
{% endif %}

{% if location.type == location.TYPE_WIN %}
<strong>YOU GOD SIR, ARE A WINNER</strong>
{% endif %}

{% if location.type == location.TYPE_LOOSE %}
<strong>YOUR JOURNEY HAS COME TO AN END OH NOBLE ONE ! A RATHER UNFORUNATE ONE THAT IS !</strong>
<a href="{% url adventure-start adventure.id %}">Restart Adventure</a>
{% endif %}

{% endblock %}"
