{% extends "adventure/base.html" %}


{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fieldselection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/wmd/wmd.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/showdown.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/editor.js"></script>
{% endblock %}


{% block content %}
    {% if create %}
    <h1>Create new location for adventure {{ adventure }}</h1>
    {% else %}
    <h1>Edit {{ object }} in adventure {{ adventure }}</h1>
    {% endif %}
    <a href="{% url location-list adventure.pk %}">Back to location overview</a>
    <form action="" method="post">{% csrf_token %}
        <div class="field">
            <div class="label">{{ form.title.label_tag }}:</div>
            <div class="input">{{ form.title }}</div>
            {{ form.title.errors }}
        </div>
        <div class="field">
            <div class="label">{{ form.type.label_tag }}:</div>
            <div class="input">{{ form.type }}</div>
            {{ form.type.errors }}
        </div>
        <div class="field editor">
            <div class="label">{{ form.description.label_tag }}:</div>
            <div class="input">
                {{ form.description }}
            </div>
            <div class="locations">
                {% for location in adventure.locations.all %}
                    <a rel="{{ location.number }}" class="location">#{{ location.number }} {{ location }}</a><br />
                {% endfor %}

                {% if create %}
                <a rel="{{ object.get_next_number }}" class="location">#{{ object.get_next_number }} <em>current page</em></a><br />
                {% endif %}
                <a rel="{{ object.get_next_number|add:0|add:create }}" class="location">#{{ object.get_next_number|add:0|add:create }} <em>next page you create</em></a><br />
                <a rel="{{ object.get_next_number|add:1|add:create }}" class="location">#{{ object.get_next_number|add:1|add:create }} <em>second next page you create</em></a><br />
                <a rel="{{ object.get_next_number|add:2|add:create }}" class="location">#{{ object.get_next_number|add:2|add:create }} <em>third next page you create</em></a><br />
            </div>
            <p class="help_text">
                You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> to style the content. See below for a preview of your text.<br />
                Drag pages from the right into the textbox to create links to pages.
            </p>
            {{ form.description.errors }}
        </div>
        <div class="field">
            <div class="label">Preview:</div>
            <div class="preview"></div>
        </div>
        <p>
            <input type="submit" name="_continue" value="save and continue editing" />
            <input type="submit" name="_new" value="save and create another location" />
            <input type="submit" name="_save" value="save and go back to location overview" />
        </p>
    </form>
{% endblock %}
