{% extends "adventure/base.html" %}


{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fieldselection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/wmd/wmd.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/showdown.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/editor.js"></script>
{% endblock %}


{% block content %}
    {% if create %}
    <h1>Create new location for adventure {{ adventure }}</h1>
    {% else %}
    <h1>Edit {{ object }} in adventure {{ adventure }}</h1>
    {% endif %}
    <a href="{% url adventure-edit adventure.pk %}">Back to adventure</a>
    <form action="" method="post">{% csrf_token %}
        <div class="field">
            <div class="label">{{ form.title.label_tag }}:</div>
            {{ form.title.errors }}
            <div class="input">{{ form.title }}</div>
        </div>
        <div class="field editor">
            <div class="label">{{ form.description.label_tag }}:</div>
            {{ form.description.errors }}
            <div class="input">
                {{ form.description }}
            </div>
            <div class="locations">
                <p class="help_text">Drag page names below into the textbox to create links. Click the pages to edit them.</p>

                <p>
                    {% if create %}
                    <a rel="{{ object.get_next_number }}" class="location">#{{ object.get_next_number }} <em>current page</em></a><br />
                    {% endif %}
                    <a rel="{{ object.get_next_number|add:0|add:create }}" class="location">#{{ object.get_next_number|add:0|add:create }} <em>next page you create</em></a><br />
                    <a rel="{{ object.get_next_number|add:1|add:create }}" class="location">#{{ object.get_next_number|add:1|add:create }} <em>second next page you create</em></a><br />
                    <a rel="{{ object.get_next_number|add:2|add:create }}" class="location">#{{ object.get_next_number|add:2|add:create }} <em>third next page you create</em></a><br />
                </p>

                <p>
                    {% for location in adventure.locations.all %}
                    <a href="{% url location-edit adventure.pk location.pk %}" rel="{{ location.number }}" class="location">{{ location }}</a><br />
                    {% endfor %}
                </p>
            </div>
            <p class="help_text">
                You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> to style the content. See below for a preview of your text.
            </p>
        </div>
        <div class="field">
            <div class="label">Preview:</div>
            <div class="preview"></div>
        </div>
        <div class="field">
            <div class="label">{{ form.type.label_tag }}:</div>
            {{ form.type.errors }}
            <div class="input">{{ form.type }}</div>
        </div>
        <p>
            <input type="submit" name="_continue" value="save and continue editing" />
            <input type="submit" name="_new" value="save and create another location" />
        </p>


        {% if adventure.graph %}
        <p class="help_text">
            Below is a graph that makes a relation between all your current
            locations. Please save your current location to update the graph.
        </p>
        <div class="graph">
            <object type="image/svg+xml" data="{{ adventure.graph.svg.url }}"></object>
        </div>
        {% endif %}
    </form>
{% endblock %}
