{% extends "base.html" %}


{% block content %}
<h1>About txtadv</h1>

<p>
    <strong>txtadv</strong> is project that was born as an idea a few years
    ago. We took that chance of participating in the
    <a href="http://djangodash.com/">djangodash 2010</a>. This is a programming
    contest that gives you 48 hours to develop a new website from scratch.
</p>

<p>
    The cool thing for you -- at least if you are also a programmer -- is that the
    <a href="http://github.com/edorian/Build-your-own-Textadventure/">code is available on github</a>.
    We are always very happy about any comments related to the code and also
    accept patches if you are motivated to hack on the project. Get your hands
    dirty and tell us what you have developed.
</p>

<p>
    Also feel free to give us any feedback you have about <strong>txtadv</strong>. We love to hear
</p>

<h1>About us</h1>

<p><strong>txtadv</strong> is developed mainly by two passionated programmers:</p>

<div class="about">

    <h2>Volker Dusch</h2>

    <div class="pullleft" style="margin:0 1em;">
        <img src="http://www.gravatar.com/avatar/2a9a30ef7f213d649840bb812959c125" alt="Volker's gravatar" class="pullleft" style="margin:0 0.5em;" />
    </div>

    <table>
        <tr>
            <th scope="row">Twitter:</th>
            <td><a href="http://twitter.com/__edorian" class="twitter">__edorian</a></td>
        </tr>
        <tr>
            <th scope="row">Email:</th>
            <td><a href="mailto:txtadv@wallbash.com" class="mail">txtadv@wallbash.com</a></td>
        </tr>
        <tr>
            <th scope="row">Github:</th>
            <td><a href="http://github.com/edorian" class="github">edorian</a></td>
        </tr>
    </table>

</div>

<div class="about">

    <h2>Gregor Müllegger</h2>

    <div class="pullleft" style="margin:0 1em;">
        <img src="http://www.gravatar.com/avatar/a95e179cef454d03e097d09a28edf0f9" alt="Gregor's gravatar" />
    </div>

    <table>
        <tr>
            <th scope="row">Twitter:</th>
            <td><a href="http://twitter.com/gregmuellegger" class="twitter">gregmuellegger</a></td>
        </tr>
        <tr>
            <th scope="row">Email:</th>
            <td><a href="mailto:gregor@muellegger.de" class="mail">gregor@muellegger.de</a></td>
        </tr>
        <tr>
            <th scope="row">Github:</th>
            <td><a href="http://github.com/gregor-muellegger" class="github">gregor-muellegger</a></td>
        </tr>
    </table>

</div>

{% endblock %}
