{% extends "base.html" %}


{% block content %}
<h1>About txtadv</h1>

<p>
    <strong>txtadv</strong> is project that was born as an idea a few years
    ago. We took that chance of participating in the
    <a href="http://djangodash.com/">djangodash 2010</a>. This is a programming
    contest that gives you 48 hours to develop a new website from scratch.
</p>

<p>
    The cool thing for you -- at least if you are also a programmer -- is that the
    <a href="http://github.com/edorian/Build-your-own-Textadventure/">code is available on github</a>.
    We are always very happy about any comments related to the code and also
    accept patches if you are motivated to hack on the project. Get your hands
    dirty and tell us what you have developed.
</p>

<h1>Problems</h1>

<p>
    If you experience problems with the site, like errors or any other issues
    -- please contact us. Our prefered way to track issues it to
    <a href="http://github.com/edorian/Build-your-own-Textadventure/issues">
    open a bug report on github</a>. If you don't like github or
    just have no account there, feel also free to write us a mail. Use the
    <a href="#devs">email addresses listed below</a> for this.
</p>

<h1>Feedback</h1>

<p>
    Please feel free to give us any feedback you have about
    <strong>txtadv</strong>. We love to hear from you -- either bad or good
    critiques. Everything is welcome. We always strive to make things we've
    created better and to improve them over time.
</p>
<p>
    A short <em>Thank you!</em> is ofcourse also much appreciated if you enjoy to use the
    site.
</p>
<p>
    You can use many ways to get in touch with us. Either contact us directly
    with the details you can find below or use our
    <a href="http://twitter.com/txtadvnet" class="twitter"><strong>txtadv</strong> twitter account</a>.
    <a href="http://twitter.com/?status=%40txtadvnet%20">Write us a messages</a>
    there and follow us to get all news related to this site.
</p>

<h1>About us</h1>

<p><strong>txtadv</strong> is developed mainly by two passionated programmers:</p>


<div class="about">
    <a name="devs"></a>

    <h2>Volker Dusch</h2>

    <div class="pullleft" style="margin:0 1em;">
        <img src="http://www.gravatar.com/avatar/93d03083db522f3356fb5fad343536b2" alt="Volker's gravatar" class="pullleft" style="margin:0 0.5em;" />
    </div>

    <table>
        <tr>
            <th scope="row">Twitter:</th>
            <td><a href="http://twitter.com/__edorian" class="twitter">__edorian</a></td>
        </tr>
        <tr>
            <th scope="row">Email:</th>
            <td><a href="mailto:txtadv@wallbash.com" class="mail">txtadv@wallbash.com</a></td>
        </tr>
        <tr>
            <th scope="row">Github:</th>
            <td><a href="http://github.com/edorian" class="github">edorian</a></td>
        </tr>
    </table>

</div>

<div class="about">

    <h2>Gregor Müllegger</h2>

    <div class="pullleft" style="margin:0 1em;">
        <img src="http://www.gravatar.com/avatar/a95e179cef454d03e097d09a28edf0f9" alt="Gregor's gravatar" />
    </div>

    <table>
        <tr>
            <th scope="row">Twitter:</th>
            <td><a href="http://twitter.com/gregmuellegger" class="twitter">gregmuellegger</a></td>
        </tr>
        <tr>
            <th scope="row">Email:</th>
            <td><a href="mailto:gregor@muellegger.de" class="mail">gregor@muellegger.de</a></td>
        </tr>
        <tr>
            <th scope="row">Github:</th>
            <td><a href="http://github.com/gregor-muellegger" class="github">gregor-muellegger</a></td>
        </tr>
    </table>

</div>

{% endblock %}
