<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Textadv{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
        <p>You're logged in as: {{ user.username }}, <a href="{% url auth_logout %}">logout</a></p>
        {% else %}
        <p><a href="{% url registration_register %}">signup</a>, <a href="{% url auth_login %}">login</a></p>
        {% endif %}
        <a href="{% url adventure-list %}">List Adventures</a>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
