{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/jquery/lightbox/css/jquery.lightbox-0.5.css">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/lightbox/js/jquery.lightbox-0.5.pack.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".lightbox").lightBox();
});
</script>
{% endblock %}

{% block content %}
    <h1>Create your own Textadventures for other people to play</h1>
    <div style="float: left; width: 600px">
        <h2>What this page is about</h2>
        <p>
            Greetings Traveler !</br>
            <em>Stay a while and listen:</em>
        </p>
        <p>
            The goal of this Project is to provide you with an easy interface for 
            <strong>playing and creating Textadventures</strong> you can share with your friends.
            <br />
            Maybe you rember those <em>"if you choose to X go to page 45"</em> Books ?
            <br />
            Thats pretty much what we aim to provide you with.
            <br />
            If you want you can hop in and try our <a href="{% url adventure-start 1%}">demo adventure</a> right now !
        </p>
        <p style="min-height:200px">
            For the creative among you we try to make <strong>creating
            adventures as easy and as fun as possbile</strong> so you don't get
            distracted by the interface and can focus on telling your story !
            <br />
            To achive this we offer you a <strong>texteditor with live
            preview</strong>, easy text formating that doesn't require you to
            press buttons the whole time if you don't want to. Furthermore drag
            and drop support for linking your story locations together !.<br />
            <a class="lightbox" href="{{ STATIC_URL }}images/example_adventure_editor.png">
                <img class="highlightable" 
                    style="margin-left:100px; margin-top: 10px; border: 1px solid black" 
                    src="{{ STATIC_URL }}images/example_adventure_editor.png"
                    width="400px" border="1" />
            </a>
            <br />
        </p>
        <p style="min-height: 250px">
            <a class="lightbox" href="{{ STATIC_URL }}images/example_adventure_overview_graph.png">
                <img style="float: right" 
                    src="{{ STATIC_URL }}images/example_adventure_overview_graph.png"
                    alt="Adventure overview example" height="250px" />
            </a>
            <br />
            Once your adventure gets bigger and it starts getting hard to keep
            track of all the ways a player can take you'll get a
            <strong>graphical represantation of the ways through your
            adventure</strong> enabling you to find loose ends.<br /><br /> The
            graph will show you loose ends and unreachable stations in your
            adventure while also highlightning endpoints you defined as
            '<em>Adventure won here</em>' or '<em>Adventure lost here</em>'
            makeing it, hopefully, as easy as possbile for you to keep track of
            everything you build.
        </p>
        <p>
            For the future we aim to provide ways to import and export the
            games into different formats and as standalone Versions you could,
            for example, embed into your own website. But also we will try to
            extend the possibilities for adventure creation, think conditions
            like <em>Player found the red key ?</em> and a zoomable scrollable
            adventure overview map.
        </p>
        <p>
            If you want to get in touch with us please visit 
            <a href="{% url about %}">the 'About us' page</a>
        </p>
    </div>
    <div style="float: right">
        <h2>Popular adventures</h2>
        <h2>Random adventure</h2>

    </div>

{% endblock %}
