<div>
    <h2>No account yet ?</h2>
    <p>
        We try to much as much of the site available to you without requiring you to sign up,<br/>
        but certain things just don't work out without some sort of identification.
    </p>
    <h2><a href="{% url registration_register %}">Sign up</a></h2>
    <p>
        If you want to.<br />
        We promise to use your email adress only for sending you the activation
        link and for setting a new password should you forget your old one. <br />
        We plan to support OpenId but for now your stuck with this if you want
        the following features.
    </p>
    <h2>Features for logged in users</h2>
    <ul>
        <li>Create adventures</li>
        <li>Rate adventures of other users</li>
        <li>Track what adventures you already completed and find new ones easier !</li>

        <li>Coming some day: Have this site remember where you where in an adventure</li>
    </ul>
</div>
